/*
Paleta de Colores
#202D42
#8D99AE
#EDF2F4
#EF233C
*/

/*Global Styles*/

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    box-sizing: content-box;
}
a {
    color: EF233C;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
    margin-top: 0;
}

/*Header and footer Styles*/

header, footer {
    background-color: #202D42;
    color: #8D99AE;
    
}

footer {
    text-align: center;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 40px;
    overflow: auto;
}

.profile-image {
    border-radius: 50%;
    width: 100%;
}

.profile-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    align-items: center;
}

.right-colum {
    width: 70%;
    float: left;
    min-height: 175px;
}

.left-colum {
    width: 30%;
    float: left;
    min-height: 175px;
}

/*Work Experience Styles*/

.experiencia {
    background-color: #EDF2F4;
}

/*Education Styles*/

.education {
    background-color: #8D99AE;
}